backend/.env
frontend/.env
# Node
node_modules/

# Python
__pycache__/
*.pyc

venv/
backend/venv/
# Environment variables
.env

# VS Code
.vscode/

# Logs
*.log

# Build files
dist/
build/

# OS files
.DS_Store
Thumbs.db